:root {
  --paper: #0E1512;
  --ink: #EAF1EA;
  --ink-35: rgba(234, 241, 234, 0.35);
  --ink-55: rgba(234, 241, 234, 0.55);
  --ink-70: rgba(234, 241, 234, 0.70);
  --ink-80: rgba(234, 241, 234, 0.80);

  --subtitle: rgb(172, 172, 172);;
  --outline: #2C3E36;

  --accent-c: rgb(108, 156, 242);
  --accent-b: rgb(240, 187, 75);
  --accent-a: rgb(63, 203, 132);
  --accent-d: rgb(191, 104, 231);

  --well: rgba(26, 35, 32, 1);
  --well-50: rgba(26, 35, 32, 0.50);
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background: var(--paper);
}