@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

.project {
    position: relative;
    min-height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: transparent;
    color: var(--ink);
    gap: 2rem;
    z-index: 1;
}

.left-col {
    flex: 1;
}

.right-col {
    flex: 1;
    font-size: 0.7rem;
}

.left-col h1 {
    font-size: 1.2rem;
    margin: 0;
}

.left-col-subtitle {
    font-family: "JetBrains Mono", monospace;
    font-size: 0.75rem;
    color: rgb(172, 172, 172);
    margin-bottom: 2rem;
}

.left-col-description {
    font-family: "Inter";
    font-size: 0.75rem;
}

.right-col img {
    width: 80%;
    border-radius: 20px;
}